/*
 * @Author: wyatt 
 * @Date: 2018-08-13 23:05:44 
 * @Last Modified by: wyatt
 * @Last Modified time: 2018-08-13 23:19:40
 */
.footer{
    padding-bottom: 10px;
}

.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.copyrigth{
    text-align: center;
    color: #666;
    line-height: 30px;
}