/*
 * @Author: wyatt 
 * @Date: 2018-08-04 15:54:13 
 * @Last Modified by: wyatt
 * @Last Modified time: 2018-08-04 23:08:56
 */

body{
    background: hsl(0, 1%, 39%);
    color: #ff0000;
    font-size: 50px
}